<!-- footer -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WONG Pak Wah | Build your own personality</a>
            <p class="display-8 text-white">&copy;2022 All rights reserved.</p>
        </div>
    </nav>
</footer>